// SPACING
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
$spacing-xxl: 10rem;

// FONT
$font-size-normal: 1rem;
$font-size-paragraph: 1.25rem;
$font-size-xxl: 2rem;

$font-weight-normal: 500;
$font-weight-bold: 700;

// COLORS
$color-winner: #ffd700;